.factory__container{
    margin-top: 12vh;
    margin-bottom: 10vh;
}

.catBox {
    background-color: #e2efff;
    border-radius: 10px;
    padding-top: 50px;
    padding-left: 65px;
    padding-bottom: 100px;

    min-height: 50vh;
}

.cattributes {
    padding: 25px;
    background-color: #ededed;
    border-radius: 10px;
}

.dnaDiv {
    position: absolute;
    left:20px;
    bottom: 5px;
}


@media (max-width: 750px) {
    .catBox {
        min-height: 40vh;
      }
}